
<form class="blog-form" action="/" method="POST">
    <div class="form-control">
        <label for="title"> Blog-Title : </label>
        <input type="text" name="title" id="title">
    </div>
    <div class="form-control">
        <label for="author"> Blog-Author : </label>
        <input type="text" name="author" id="author">
    </div>
    <div class="form-control">
        <label for="content"> Details : </label>
        <textarea name="content" id="content"></textarea>
    </div>
    <button class="btn" type="submit"> Submit </button>
</form>
  