
<form class="blog-form" action="/blogs" method="POST">
    <div class="form-control">
        <label for="title"> Blog-Title : </label>
        <input type="text" name="title" id="title" placeholder="Blog Title">
    </div>
    <div class="form-control">
        <label for="author"> Blog-Author : </label>
        <input type="text" name="author" id="author" placeholder="Author Name">
    </div>
    <div class="form-control">
        <label for="content"> Details : </label>
        <textarea name="content" id="content" placeholder="Content"></textarea>
    </div>
    <button class="btn" type="submit"> Submit </button>
</form>
  